html,body{
    width: 100%;
    height: 100%;
}

html{
    font-size: 62.5%;
}

.wrap{
    width: 100%;
    height: 100%;
    background: dodgerblue;
}

.head{
    width: 100%;
    height: 100px;
    overflow: hidden;
}
.head img{
    display: block;
    width: 100px;
    height: 90px;
    margin: 0 auto;
}
.huo{
    width: 100%;
    height: 150px;
    display: -webkit-box;
    -webkit-box-pack:justify;
}
.huo div{
    width: 50%;
}
.huo div img{
    display: block;
    width: 100px;
    height: 150px;
    margin: 0 auto;
}