html,body{
    width: 100%;
    height: 100%;
}

html{
    font-size: 62.5%;
}

.box{
    width: 100%;
    height: 100%;
}
.head{
    width: 100%;
    height: 80px;
}

.userBing{
    font-family: 方正粗雅宋_GBK;
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 40px;
    color: white;
    background: #62d26d;
}

.con{
    width: 100%;
    position: relative;
}

.img{
    width: 100%;  position: relative; overflow: hidden;
}
.img ul{
    width: 500%;
}
.img ul li{
    width: 20%;
    float: left;
    height: 400px;
}
.img ul li img{
    display: block;
    width: 100%;
}
.dian{
    position: absolute;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    bottom: 20px;
    z-index: 10;
}
.dian ol{
    width: 150px;
    margin: 0 auto;
}
.dian ol li{
    width: 20px; height: 20px;
    border-radius: 10px;
    background: #999;
    float: left;
    margin-right: 10px;
}
.dian ol li.hh{
    background: white;
}
#left{
    position: absolute;
    left: 20px; top: 180px;
    display: none;
}
#right{
    position: absolute;
    right: 20px; top: 180px;
    display: none;
}