html,body{
    width: 100%;
    height: 100%;
}

html{
    font-size: 62.5%;
}

.box{
    width: 100%;
    float: left;
    background: url("../img/bg.jpg") repeat;
}

.wrap{
    width: 1200px;
    height: 1000px;
    margin: 20px auto;
    background: white;
}

.left{
    width: 300px;
    height: 1000px;
    background: #ffc301;
    float: left;
}
.left .pics{
    width: 300px;
    height: 200px;
    position: relative;
}
.left .pics img{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -75px;
}




.RESUME{
    width: 300px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #242a2a;
    color: white;
}
.SOCLAL{
    width: 300px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #242a2a;
    color: white;
    clear: both;
}
.SKILLS{
    width: 300px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #242a2a;
    color: white;
    clear: both;
}
.zaiyao{
    width: 300px;
    height: 220px;
    float: left;
}
.zaiyao h2{
    color: #253822;
    margin: 15px 25px;
    font-size: 24px;
}
.zaiyao ul{
    margin-left: 25px;
    margin-right: 25px;
}
.zaiyao ul li{
    display: block;
    height: 40px;
    border-bottom: 3px solid #1f1422;
    line-height: 40px;
    font-size: 20px;
}
.zaiyao ul li span{
    font-size: 20px;
    margin-left: 5px;
}
.zaiyao ol{
    margin-left: 25px;
    margin-right: 25px;
}
.zaiyao ol li{
    display: block;
    height: 60px;
    border-bottom: 3px solid #1f1422;
    line-height: 60px;
    font-size: 20px;
}
.zaiyao ol li span{
    font-size: 20px;
    margin-left: 15px;
}
.zaiyao p{
    height: 50px;
    line-height: 50px;
    margin-left: 25px;
    margin-right: 25px;
    border-bottom: 3px solid #1f1422;
    font-size: 20px;
}
.zaiyao p:nth-of-type(1){
    margin-top: 10px;
}

.right{
    width: 750px;
    height: 800px;
    float: left;
    margin-left: 150px;

}

.userName{
    width: 750px;
    height: 220px;
    background: #24292c;
    position: relative;
}
.userName img{
    display: block;
    margin: 0 auto;
}
.userName h2{
    position: absolute;
    font-size: 25px;
    left: 50%;
    margin-left: -40px;
    bottom: 62px;
    color: white;
}
.userName h3{
    position: absolute;
    font-size: 20px;
    left: 50%;
    margin-left: -60px;
    color: white;
}
.PROFILE{
    width: 750px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    background: #242a2a;
    color: white;
    clear: both;
    margin-top: 30px;
}
.EDUCATION{
    width: 750px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    background: #242a2a;
    color: white;
    clear: both;
}
.WORK{
    width: 750px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    background: #242a2a;
    color: white;
    clear: both;
}
.cen{
    width: 750px;
    height: 200px;
}
.cen ul li{
    height: 60px;
    line-height: 60px;
    font-size: 25px;
    padding-left: 10px;
    border-bottom: 2px solid #ccc;
}
.cen ul li:nth-of-type(3){
    border-bottom: none;
}
.cen ul li a{
    float: right;
    padding-right: 40px;
    font-size: 18px;
    color: cadetblue;
}
.cen ul li b{
    font-size: 25px;
    font-weight: 800;
}
.cen p{
    height: 50px;
    border-bottom: 2px solid #ccc;
    line-height: 50px;
    font-size: 20px;
    color: #666;
}
.cen p b{
    font-size: 22px;
    font-weight: 800;
    padding-left: 10px;
    color: #000;
}
.cen p:nth-of-type(4){
    border-bottom: none;
}